$OuterSpace: #212927;
$CuttyShark: #537066;
$LimedSpruce: #344248;
$Astral: #37729d;
$Danube: #73ABD4;
$Shark: #282c32;
$Ziggurat: #b0dadb;
$GraySuit: #CAC8D0;


$White: #FFFFFF;
$Whisper: #FAFAFC;
$AthensGray: #F1F3F5;
$Porcelain: #EFF0F1;
$AzureRadiance: #0081FF;