$OuterSpace: #212927;
$CuttyShark: #537066;
$LimedSpruce: #344248;
$Astral: #37729d;
$Danube: #73abd4;
$Shark: #282c32;
$Ziggurat: #b0dadb;
$GraySuit: #cac8d0;

$White: #ffffff;
$Whisper: #fafafc;
$AthensGray: #f1f3f5;
$Porcelain: #eff0f1;
$AzureRadiance: #0081ff;
$ElectricViolet: #c1aade;
